/* ***************************** *
 * IMAGE STREAM                  *
 * ***************************** */


.csdl-skin .scrollp-container { overflow : hidden; }

.csdl-skin .scrollp-horiz { overflow-x : auto; }
.csdl-skin .scrollp-vert  { overflow-y : auto; }

.csdl-skin .scrollp-horiz .content { height : 100%; }
.csdl-skin .scrollp-vert .content  { width : 100%; }
.csdl-skin .scrollp-content {
}

/* Style for the image scrollpane. */
.csdl-imgsp {
    background-color : #B7BED7;
    border-top       : 1px solid #000;
    border-bottom    : 1px solid #000;
        
    width    : 100%;
    height   : 166px;
    position : absolute;
    top      : 30px;
    left     : 0px;
    overflow : hidden;
}

/* The image container (image pane) in the image scrollpane. */
.csdl-imgsp .ipane {
    background-color : #B7BED7;
        
    position         : absolute;
    margin-top       : 1px;
    height           : 150px;
    width            : 14000px;
    z-index          : 1; 
}
    

/* Style for the div that contains an image. */
.csdl-imgsp .image {
    position         : absolute;
    margin-left      : 3px;
    margin-right     : 3px;
    padding          : 1px;
    height           : 140px;
    width            : 140px;
    border           : 1px solid transparent;
    
    text-align       : center;
    
    /* specifies the line height for each image box, the vertical-align 
       property of the child images (middle) will be relative to this "line" */
    line-height:140px;
}

.csdl-imgsp .selected { border : 1px solid #333; background-color : #EBDCB0; }

.csdl-imgsp .loading { background: url(wait.gif) no-repeat center; }

/* Style for the individual images in the pane. */
.csdl-imgsp img { vertical-align:middle; }

/* ***************************** *
 * IMAGE STREAM SELECTORS        *
 * ***************************** */
 
#is-selectors {
  position:relative;
  top:30px;
  float:right;
  
  z-index:2;
  padding-right:10px;
} 

#is-selectors .selector {
  float:left;
  margin-left:15px; 
}

#is-selectors .selector .label {
  color:#333;
  font-family:Verdana, sans-serif;
  font-weight:bold;
  font-size:11px;
  padding-bottom:1px;
}

#is-selectors .selector select {
  font-family:Verdana, sans-serif;
  font-weight:normal;
  font-size:11px;
}
