body.csdl-skin-crit {
  width: 4000px; height: 4000px;
  background-color: #EEE;
}

/** Menu bar displayed at the top of the CritSpace frame. */
.csdl-skin-crit #menubar {
  background-color : #666;
  border-bottom    : 2px outset #000;
  opacity          : 0.7;
  
  position         : fixed;
  top              : 0px;
  left             : 0px;
  width            : 100%;
  height           : 22px;
  
  padding-left     : 10px;
  color            : #FFF;
  z-index          : 100;
}

.csdl-skin-crit #sidebar {
  background-color : #CCC;
  border-left      : 2px outset #000;
  border-bottom    : 2px outset #000;
  opacity          : 0.7;
  
  position         : fixed;
  top              : 24px;
  right            : 0px;
  width            : 200px;
  height           : 90%;
  
  padding-left     : 10px;
  color            : #FFF;
  z-index          : 100;
}

.csdl-skin-crit #sidebar #left-handle {
  position : absolute; top : -4px; left : 0px;
  width : 4px; height : 100%;
  cursor:w-resize;
}

.csdl-skin-crit #sidebar #bottom-handle {
  position : absolute; bottom : -4px; left : 0px;
  width : 100%; height : 4px;
  cursor:s-resize;
}

.csdl-skin-crit #menubar .menuitem {
  color:#DDD;
  background-color:#888;
  font-family:Verdana, sans-serif;
  font-size:12px;
  
  margin-top:3px;
  margin-right:5px;
  padding:3px;
  padding-top:3px;
  float:left;
  height:12px;
  border:1px solid #333;
  border-bottom:2px outset #000;
}

.csdl-skin-crit #workspace { z-index : 0; }
